<!DOCTYPE html>
<html lang="en">
<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}


<!-- Название у нас будет proudcts -->
{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, ID которого было передано в адрес -->
{% block content %}
<h1> Заголовок: {{ postdetail.header}}</h1>
<h1>Содержвание: {{ postdetail.text|truncatechars:50}} </h1>
<h1>Дата публикации: {{ postdetail.time_in|date:"d-M-Y"}}  {{ newsdetail.time_in|time:"H:i"}}</h1>
<h1>Категории: {{postdetail.category.category}}

</h1>

{% endblock content %}